n8n_workflow_example.json
{
  "name": "Screenshot Capture Workflow",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "https://app.markup.io/markup/bb3022bd-01f0-4ed5-8fbb-1c5da2e3bdc7"
            },
            {
              "name": "numberOfImages",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "f6b1c0c8-7c5a-4b8a-9d2e-1f3g4h5i6j7k",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/webhook/capture",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$json.url}}"
            },
            {
              "name": "numberOfImages",
              "value": "={{$json.numberOfImages}}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process the response\nconst response = $input.all()[0].json;\n\nif (response.success) {\n  return {\n    status: 'success',\n    message: response.message,\n    screenshots: response.data.screenshots,\n    numberOfImages: response.data.numberOfImages,\n    duration: response.data.duration\n  };\n} else {\n  return {\n    status: 'error',\n    message: response.error || 'Screenshot capture failed',\n    error: response.error\n  };\n}"
      },
      "id": "b2c3d4e5-f6g7-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}